@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: medium;
    font-weight: 700;
    padding: 15px 35px;
    margin: 5px 0;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #e36002;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}

.section-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 10px 0;
}

/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px 0;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.nav-title span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
nav a:hover{
    color: #FD6E0A;
}


/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
}

/* verticle banner */
.vr-banner img {
    width: 93%;
}

.vr-banner {
    padding: 30px;
}

.header-container {
    width: 100%;
    padding: 0 10px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-greeting {
    font-size: 40px;
    color: #474747;
    font-weight: 600;
}

.banner .banner-title {
    font-size: 65px;
    color: #181818;
    font-weight: 700;
}

.banner p {
    font-weight: 400;
    color: #474747;
    margin: 20px 0;
    max-width: 500px;
}

.banner-content button {
    margin-right: 20px;
}

.profile-pic {
    width: 49%;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 48px;
}

/* About section */
.about {
    margin: 130px auto;
    padding: 130px 150px;
    border-radius: 10px;
    background: #FFF8F3;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin: 24px;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-weight: 600;
}

.info-description {
    color: #474747;
    font-weight: bolder;
}

/* Skill section */
.skill-section {
    margin: 130px 0;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    gap: 24px;
}

.skill-description {
    width: 80%;
    margin: 10px auto;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill .skill-title {
    margin: 30px 0 20px 0;
}

.skill .skill-text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


/* resume section */
.resume{
    margin-bottom: 110px;
}
.resume-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0
}

.resume-item {
    margin: 30px 0;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-download {
    text-align: center;
    margin: 20px 0;
}


/* footer section */
footer {
    background-color: #FFF8F3;
    padding: 130px 48px 0;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 110px;
}

.footer-column {
    width: 50%;
    text-align: start;
}

.footer-title {
    text-align: start;
}

.footer-text {
    text-align: start;
}
.social-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-links a{
    display: block;
    margin-right: 12px;
    padding: 5px;
    border-radius: 10px;
}
.social-links a:hover{
    transform: scale(1.1);
    transform: translate();
}
.social-links img{
    width: 24px;
}

form input, textarea {
    width: 100%;
    display: block;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}
form textarea:focus-visible{
    outline: 1.5px solid #FD6E0A;

}
form input:focus-visible{
    outline: 1.5px solid #FD6E0A;
}

.copyright{
    display: block;
    text-align: center;
    padding: 24px 0;
    border-top: 1px solid #ddd;
    margin-top: 130px;
    font-size: 14px;
}


/* Resposive Styles */

/* Large Device */
@media screen and (max-width: 992px) {
    nav{
        padding: 30px 0;
    }
    nav ul{
        gap: 48px;
    }
    nav ul li{
        margin: 0;
    }
    .header{
        background-image: none;
    }
    .header-container{
        padding: 0 48px;
    }
    .vr-banner{
        display: none;
    }
    .about{
        padding: 130px 48px;
        gap: 24px;
    }
    .skills-container{
        flex-wrap: wrap;
        gap: 48px;
        justify-content: center;
    }
    .skill{
        flex-basis: 46%;
    }
    .footer-container{
        gap: 48px;
    }
}
/* Medium Device */
@media screen and (max-width: 768px) {
    .header-container{
        padding: 0 24px;
    }
    .resume-container{
        flex-direction: column;
    }
}

/* Small Device */
@media screen and (max-width: 640px) {
    .banner{
        flex-direction: column;
        gap: 48px;
    }
    main{
        padding: 24px;
    }
    .about{
        padding: 130px 24px;
    }
    .about-info-container{
        flex-direction: column;
        gap: 24px;
    }

    .skills-container{
        flex-direction: column;
    }
    footer{
        padding: 130px 24px 0;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-column{
        width: 100%;
    }
}

